<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<body>
		<header>
		  <div onclick="window.location.href='/'" href="#default" class="favicon"><img class="image" src="/images/favicon.png"></div>
		  <div class="right">
		  	<% if (user.access == 'adm') { %>
            	<a class="active" href="/admin">Admin</a>
            <% } %>
		    <a onclick="let r = confirm('deseja sair?');if(r==true){window.location.href='/logout'}">Sair</a>
		  </div>
		</header>
        <% include ./../partials/nav %>
		<section>
			<div class="container">
				<div class="box-1">
                    <h3>Bem vindo <%= user.name %></h3>
				</div>
                <div class="box-1">
                	<table>
                		<tr><%= %></tr>
                		<tr><%= %></tr>
                		<tr><%= %></tr>
                		<tr><%= %></tr>
                	</table>
                </div>
			</div>
		</section>
	</body>
	<footer>
        <% include ./../partials/footer %>
	</footer>
</html>