<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<body>
		<header>
			<a href="/"><img src="/images/favicon.png" class="favicon"></a>
			<div>
				<% if (user.access == 'adm') { %>
                	<a onclick="window.location.href='/admin'">Admin</a>
                <% } %>
                | <a onclick="let r = confirm('deseja sair?');if(r==true){window.location.href='/logout'}">Sair</a>
			</div>
		</header>
		<section>
			<div class="container">
				<div class="box-1">
                    <h3>Bem vindo <%= user.name %></h3>
				</div>
                <div class="box-1">
                	<table>
                		<tr><%= %></tr>
                		<tr><%= %></tr>
                		<tr><%= %></tr>
                		<tr><%= %></tr>
                	</table>
                </div>
			</div>
		</section>
	</body>
	<footer>
        <% include ./../partials/footer %>
	</footer>
</html>